<div class="container-fluid">
    <img src="/assets/cover.jpg" alt="" class="cover_pic">

    <div class="profile_sec">
        <img src="/assets/profilePic.png" alt="" class="prof_pic">
    </div>
        <div class="card profile_intro px-5 m-3 border-0">
            <div class="card-body ">
              <h1 class="card-title">Sakchham Sharma !</h1>
              <h5 class="my-2">Working as a software engineer in colt technology.</h5>
              <p class="card-text">Hi,I graduated from <b>SBS State University of Punjab</b> in 2022 with a degree in Computer Science & engineering. My interests are in Front End Engineering and I love to create beautiful and performant products with delightful user experiences.</p>
            </div>
        </div>

    <div class="about">
        <h1 class="text-center text-danger-emphasis"><u>About!</u></h1>
    </div>
</div>
